.doodle-selector-container {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  background: radial-gradient(263px at 100.2% 3%, rgb(12, 85, 141) 31.1%, rgb(205, 181, 93) 36.4%, rgb(244, 102, 90) 50.9%, rgb(199, 206, 187) 60.7%, rgb(249, 140, 69) 72.5%, rgba(16, 29, 41, 0.919) 72.6%);



}

.doodle-selector-container h3 {
  width: 12rem;
  /* border: 2px solid red; */
  color: white;
  position: relative;
  top: 2.2rem;
  left: 5.5rem;
  letter-spacing: 3px;
  font-size: 1.1rem;

}

.msg {
  font-size: 3rem;
  letter-spacing: 5px;
  color: white;
  font-family: cursive;
  text-align: center;
  font-weight: 500;
}

.icons span {
  position: absolute;

}

.pencil {
  font-size: 8rem;
  top: 15%;
  left: 8%;
}

.duck {
  font-size: 5.5rem;
  top: 50%;
  right: 25%;
  transform: rotate(18deg);
}

.i3 {
  font-size: 4.1rem;
  top: 65%;
  left: 23%;
  transform: rotate(133deg);
}

.i4 {
  font-size: 3rem;
  top: 67%;
  right: 19%;
  transform: rotate(155deg);
}

.i5 {
  font-size: 4.3rem;
  top: 67%;
  right: 40%;
  transform: rotate(45deg);
}

.i6 {
  font-size: 4rem;
  top: 67.5%;
  left: 12%;
  transform: rotate(14deg);
}

.i7 {
  font-size: 4rem;
  top: 50%;
  left: 7%;
  transform: rotate(17deg);

}

.i8 {

  font-size: 1.8rem;
  top: 70%;
  left: 81%;
  transform: rotate(70deg);


}

.i9 {
  font-size: 2.3rem;
  top: 83%;
  left: 40%;
  transform: rotate(19deg);
}

/* Doodle Selector Styles */
.doodle-selector {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 5%;
  width: 65%;
}

.doodle-option {
  text-transform: capitalize;
  width: 130px;
  height: 105px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  padding: 25px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  font-weight: bold;
  background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
  /* background: radial-gradient(circle at 10% 20%, rgb(98, 114, 128) 0%, rgb(52, 63, 51) 90.1%); */
}




.doodle-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width:1080px) {


  .doodle-selector-container h3 {
    width: 11rem;
    top: 2.2rem;
    left: 3.5rem;
    letter-spacing: 2.9px;
    font-size: 1.1rem;
  }

  .msg {
    font-size: 3rem;
    letter-spacing: 5px;
  }


  .pencil {
    font-size: 7rem;
    top: 15%;
    left: 6.9%;
  }

  .duck {
    font-size: 5.1rem;
    top: 52%;
    right: 25%;
  }

  .doodle-selector {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;
    width: 65%;
  }

  .doodle-option {
    width:20%;
    height: 6.5rem;
    padding: 25px;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
  }

  .i3 {
    font-size: 3.9rem;
    top: 65%;
    left: 22%;
  }

  .i4 {
    font-size: 2.5rem;
    top: 77%;
    right: 19%;
  }

  .i5 {
    font-size: 4rem;
    top: 67%;
    right: 37%;
  }

  .i6 {
    font-size: 3.7rem;
    top: 67.5%;
    left: 11%;
  }

  .i7 {
    font-size: 3.5rem;
    top: 51%;
    left: 7%;
  }

  .i8 {
    font-size: 1.45rem;
    top: 70%;
    left:79%;

  }

  .i9 {
    font-size: 2.1rem;
    top: 80%;
    left: 40%;
  }

}



@media only screen and (max-width:992px) {


  .doodle-selector-container h3 {
    width: 10rem;
    top: 2.2rem;
    left: 2rem;
    letter-spacing: 2.1px;
    font-size: 1rem;
  }

  .msg {
    font-size: 2.7rem;
    letter-spacing: 4.5px;
  }


  .pencil {
    font-size: 5.5rem;
    top: 14.5%;
    left: 3%;
    transform: rotate(75deg);
  }

  .duck {
    font-size: 5.1rem;
    top: 52%;
    right: 25%;
  }

  .doodle-selector {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;
    width: 72%;
  }

  .doodle-option {
    width:20%;
    height: 5.9rem;
    padding: 25px;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
  }

  .i3 {
    font-size: 2.7rem;
    top: 65%;
    left: 22%;
  }

  .i4 {
    font-size: 2.3rem;
    top: 77%;
    right: 19%;
  }

  .i5 {
    font-size: 3rem;
    top: 67%;
    right: 37%;
  }

  .i6 {
    font-size: 3.5rem;
    top: 71.5%;
    left: 7%;
  }

  .i7 {
    font-size: 3.3rem;
    top: 55%;
    left: 9%;
  }

  .i8 {
    font-size: 1.25rem;
    top: 70%;
    left:79%;

  }

  .i9 {
    font-size: 1.75rem;
    top: 80%;
    left: 40%;
  }

}




@media only screen and (max-width:720px) {

  .doodle-selector-container h3 {
    width: 10rem;
    top: 1.1rem;
    left: 1.7rem;
    letter-spacing: 1.3px;
    font-size: 0.88rem;
  }

  .msg {
    font-size: 2.65rem;
    letter-spacing: 4.5px;
  }


  .pencil {
    font-size: 5rem;
    top: 4.5%;
    left: 79%;
    transform: rotate(79deg);
  }

  .duck {
    font-size: 4rem;
    top: 52%;
    right: 25%;
  }

  .doodle-selector {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5%;
    width: 90%;
    height:8.9rem;
  }

  .doodle-option {
    width:18%;
    font-size: 1rem;
  }

  .i3 {
    font-size: 1.5rem;
    left: 22%;
  }

  .i4 {
    font-size: 2.1rem;
    top: 77%;
    right: 19%;
  }

  .i5 {
    font-size: 2.5rem;
    top: 67%;
    right: 37%;
  }

  .i6 {
    font-size: 3rem;
    top: 71.5%;
    left: 7%;
  }

  .i7 {
    font-size: 2.9rem;
    top: 55%;
    left: 9%;
  }

  .i8 {
    font-size: 1rem;
    top: 70%;
    left:75%;

  }

  .i9 {
    font-size: 1.5rem;
    top: 80%;
    left: 40%;
  }

}




@media only screen and (max-width:480px) {

  .doodle-selector-container h3 {
    width: 10rem;
    top: 1.1rem;
    left: 1rem;
    letter-spacing: 1px;
    font-size: 0.6rem;
  }

  .msg {
    position: relative;
    top:2.3%;
    font-size: 2.2rem;
    letter-spacing: 4.3px;
  }


  .pencil {
    display: none;
  }

  .duck {
    font-size: 2.5rem;
    top: 53%;
    right: 5%;
  }

  .doodle-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5%;
    width: 90%;
    height:auto;
  }

  .doodle-option {
    height:3.9rem;
    width:30%;
    font-size: 1rem;
  }

  .i3 {
    font-size: 1.25rem;
    left: 3%;
  }

  .i4 {
    display:none;
  }

  .i5 {
    font-size: 1.5rem;
    top: 83%;
    right: 2%;
  }

  .i6 {
    font-size: 1.5rem;
    top: 81.5%;
    left: 7%;
  }

  .i7 {
    font-size: 2rem;
    top: 50%;
    left: 7%;
  }

  .i8 {
    display: none;
  }

  .i9 {
    font-size: 1.1rem;
    top: 70%;
    left: 80%;
  }

}