.doodle-selector-container{
  border:1px solid black;
  height:100%;
  width:100%;
  background: radial-gradient(263px at 100.2% 3%, rgb(12, 85, 141) 31.1%, rgb(205, 181, 93) 36.4%, rgb(244, 102, 90) 50.9%, rgb(199, 206, 187) 60.7%, rgb(249, 140, 69) 72.5%, rgba(16, 29, 41, 0.919) 72.6%);



}

.doodle-selector-container h3{
  color:white;
  position: relative;
  top:2.2rem;
  left:5.5rem;
  letter-spacing: 3px;
  font-size: 1.1rem;

}

.msg{
   font-size:3rem;
    letter-spacing: 5px;
    color:white;
    font-family: cursive;
    text-align: center;
    font-weight: 500;
}

.icons span{
  position : absolute;

}
.pencil{
  font-size: 8rem;
  top:15%;
  left:8%;
}
.duck{
  font-size:5.5rem;
  top:50%;
  right:25%;
  transform: rotate(18deg);
}

.i3{
  font-size:4.1rem;
  top:65%;
  left:23%;
  transform: rotate(133deg);
}

.i4{
  font-size:3rem;
  top:67%;
  right:19%;
  transform: rotate(155deg);
}
.i5{
  font-size:4.3rem;
  top:67%;
  right:40%;
  transform: rotate(45deg);
}

.i6{
  font-size:4rem;
  top:67.5%;
  left:12%;
  transform: rotate(14deg);
}

.i7{
  font-size:4rem;
  top:50%;
  left:7%;
  transform: rotate(17deg);

}

.i8{

  font-size:1.8rem;
  top:70%;
  left:81%;
  transform: rotate(70deg);


}

.i9{
  font-size:2.3rem;
  top:83%;
  left:40%;
  transform: rotate(19deg);
}

/* Doodle Selector Styles */
.doodle-selector {
    display: flex;
    justify-content: space-around;
    margin:auto;
    margin-top:5%;
    width:65%;
  }
  
  .doodle-option {
    text-transform: capitalize;
    width: 130px;
    height: 105px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    padding:25px;
    text-align: center;
    color:white;
    font-size:1.2rem;
    letter-spacing: 1.3px;
    font-weight: bold;
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    /* background: radial-gradient(circle at 10% 20%, rgb(98, 114, 128) 0%, rgb(52, 63, 51) 90.1%); */
  }



  
  .doodle-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  