

.home-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height:100vh;
	
	margin:0;
}
.home-container .b1{
	background: radial-gradient(263px at 100.2% 3%, rgb(12, 85, 141) 31.1%, rgb(205, 181, 93) 36.4%, rgb(244, 102, 90) 50.9%, rgb(199, 206, 187) 60.7%, rgb(249, 140, 69) 72.5%, rgba(16, 29, 41, 0.919) 72.6%);
	height: 45vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home-container .box{
	background-image: url('../img/7600.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/* background-position: bottom; */
	/* transform: scale(0.98); */
	/* border: 1px solid red;; */
	margin:0;
	height: 50vh;
	/* position: absolute; */
	width: 100%;;
}


.homepage-header h1{
	color:white;
	letter-spacing: 3.5px;
	text-align: center;
	font-size:3.7rem;
	font-family: cursive;
	font-weight: 500;
}

.e1{
	font-size:2rem;
}

.e2{
	font-size:2.5rem;
}

.icons-1 span{
	position: absolute;
	color:white;
}

.ic1{
	right:20%;
	transform: rotate(23deg);
	font-size:4.1rem;
	top:3.3%;

}
.ic2{
	left:5%;
	top:27.5%;
	transform: rotate(25deg);
	font-size:7.2rem;
	font-weight: lighter;


}

.ic3{
	left:11%;
	top:9.5%;
	transform: rotate(23deg);
	font-size:4.8rem;
	font-weight: lighter;


}

.buttons-container{
	margin: auto;
	display:flex;
	/* flex-direction: ; */
	justify-content: space-evenly;
	/* height: 17rem; */
	width:60rem;
	/* border: 1px solid red;; */
}

.play-solo-btn button{
	color:white;
	cursor: pointer;
	margin:auto;
	border-radius: 2.5rem;
	width:15.7rem;
	height:5rem;
	background-color: rgb(255, 163, 163);
	outline: none;
	letter-spacing: 0.1rem;

	transform: rotate(345deg);
	font-size:1.6rem;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 500;
	border:1px solid white;
	transition: 0.35s ease-out;

}


.buttons-container .play-solo-btn:nth-child(2) button{
	transform: rotate(333deg);
}
.buttons-container .play-solo-btn:nth-child(2) button:hover{
	transform: rotate(0deg);
}


.play-solo-btn button:hover{
	transform: rotate(360deg);

}



